{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- задаем заголовок страницы -->
{% block title %}This is an page{% endblock %}
<!-- блок body -->
{% block content %}
{{ wtf.quick_form(form, method='post',enctype="multipart/form-data", action="lab3") }}
<!-- один из стандартных тэгов html - заголовок второго уровня -->
<h2>Image is here: </h2>
<!-- отображаем загруженное изображение с закругленными углами -->
<!-- если оно есть (после submit) -->
{% if image_name %}
 <p>{{image_name}}
 <p><img src={{image_name}} class="img-rounded" alt="My Image" width = 224 height=224 />
 <p><img src={{filename_graph}} class="img-rounded" alt="My Image" width = 224 height=224 />
{% else %}
 <p> There is no image yet </p>
{% endif %}
{% endblock %}

<table border="1" bordercolor="#aaa" cellspacing="0" cellpadding="0">
<tr>
    <td><img width="100%" height="100%" src="https://yandex.ru/images/search?pos=1&img_url=https%3A%2F%2Fi.artfile.ru%2F1920x1200_885967_%5Bwww.ArtFile.ru%5D.jpg&text=%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D0%BD%D0%B0%D1%80%D1%83%D1%82%D0%BE&lr=11277&rpt=simage&source=wiz" /></td>
</tr>
</table>
